.card {
    width: 80%;
    
    height: 600px;
    padding: 20px;
    margin-left: 35%;
    margin-top: 10%;
    padding-top: 1px;
    
}

.card img {
   width: 200px;
   height: 200px;
   margin-bottom: 50px;
   margin-left: 1.5cm;
}
.header{
    text-align: center;
     height: 120px;
     margin-left: 25%;
}

.card img:hover {
   transition: 0.5s ease-in-out;
    transform: scale(1.3); 
/*transform: rotate3d(0, 1, 0.5, 3.142rad);*/
}




* {
	margin: 0;
	padding: 0;
}
body {
	background: beige;
}
.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotateY(180deg);
	display: flex;
}
.wrapper input {
	display: none;
}
.wrapper label {
	display: block;
	cursor: pointer;
	width: 150px;
}
.wrapper label:before {
	content: '★';
	position: relative;
	display: block;
	font-size: 150px;
	color: black;
}
.wrapper label:after {
	content: '★';
	position: absolute;
	display: block;
	font-size: 150px;
	color: deeppink;
	top: 0;
	opacity: 0;
	transition: .6s;
}
.wrapper label:hover:after, .wrapper label:hover~label:after, .wrapper input:checked~label:after {
	opacity: 1;
}
